<h5>Roll for Initiative</h5>
<%= form_with model: @room, url: "#{params[:game_room]}/rounds", remote: true, class: "form" do |f| %>
  <div class="form">
    <div class="col-sm-12">
      <div class="form-group form-check">
        <%= f.check_box :dynamic_initiative, class: 'form-check-input'%>
        <label class="form-check-label" for="dynamic_initiative">Dynamic Initiative</label>
      </div>
    </div>
    <div class="col-sm-12">
      <%= f.submit "Roll Initiative", class: 'btn btn-primary btn-lg btn-block'%>
    </div>
  </div>
<% end %>
