<h5>Roll for Initiative</h5>
<%= form_with model: @room, url: "#{params[:game_room]}/rounds/#{@room.round}", method: :put, remote: true, class: "form" do |f| %>
  <div class="form">
    <div class="col-12">
      <div class="form-group form-check">
        <%= f.check_box :dynamic_initiative, class: 'form-check-input'%>
        <%= f.label :dynamic_initiative %>

      </div>
    </div>
    <div class="col-xs-12">
      <%= f.submit "Next", class: 'btn btn-primary btn-lg btn-block'%>
    </div>
  </div>
<% end %>
