
<div class="row">

  <div id="turn-order" class="col-xs-12 col-lg-8">

      <div id="join-area">
        <div id="player_form"></div>
        <% if !user_in_game?(room) %>
          <a href="<%= new_home_game_player_url(home_game_room: params[:game_room]) %>" data-remote="true" id="add_player" >Join Game</a>
        <% elsif is_game_master?(room) %>
          <a href="<%= new_home_game_player_url(home_game_room: params[:game_room]) %>" data-remote="true" id="add_player" >Add NPC</a>
        <% end %>
      </div>

    <%= render "turn_order", players: room.players %>
  </div>
  <div id="round-tracker" class="col-xs-12 col-lg-4">
    <%= render "rounds", room: room %>
  </div>
</div>
