<div class="text-center">
<%= "Rounds: #{room.round}" %>
</div>
<% if is_game_master?(room) %>
  <% if room.round <= 0 %>
  <%= render 'rounds/new_form', room: room %>
  <% else %>
  <%= render 'rounds/update_form', locals: {room: room} %>
  <% end %>

<% end %>
