
<div class="row">
  <div class="col"></div>
  <div class="col-10">
    <h3>Turn Order</h3>
<% if players.any? %>
  <% players.each do |player| %>
  <div class="row">
    <div class="card w-100 <%= @room.active_player == player.id ? "border-primary" : "" %>">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title"><%= player.character_name %></h5>
            Played by: <%= player.player_name %>
          </div>
          <div class="col">
            <div>Initiative Bonus: <%= player.init_bonus %></div>
            <div>Current Initiative: <%= player.current_initiative %></div>
          </div>
          <div class="col">
            <% if player.session.to_s == session.id.to_s %>
              <%= link_to "Edit", edit_home_game_player_path(params[:game_room], player.id), remote: true, class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
        <div id="<%= "player_form_#{player.id}" %>"></div>
      </div>
    </div>
  </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="card w-100">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-center">Waiting for players to join</h5>

          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
  </div>
  <div class="col"></div>
</div>