<div class="row">
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <h3>Initiative Tracker</h3>
    <p>
      Welcome to Initiative Tracker. Click start rolling to create a game room.
      Send the room link to the players so they can join the game.
    </p>
    <p><%= link_to 'Start Rolling', home_path(game_room: SecureRandom.uuid), class: 'btn btn-primary btn-lg btn-block' %></p>
  </div>
  <div class="col-2"></div>
</div>
