<h5>Enter Player Details</h5>
<%= form_with model: home_game_player, url: home_game_players_url(home_game_room: params[:home_game_room]), class: "form" do |f| %>
<div class="form-row">
  <%= f.hidden_field :session, value: home_game_player.session %>
  <div class="col-4">
    <%= f.text_field :player_name, class: 'form-control', placeholder: 'Player Name'%>
  </div>
  <div class="col-4">
    <%= f.text_field :character_name, class: 'form-control', placeholder: 'Character Name' %>
  </div>
  <div class="col">
    <%= f.number_field :init_bonus, class: 'form-control', placeholder: 'Initiative Bonus' %>
  </div>
</div>
  <br />
  <%= f.submit "Submit", class: 'btn btn-primary'%>
<% end %>
