
<%= form_with model: home_game_player, method: "put", url: home_game_player_url(home_game_room: params[:home_game_room], id: home_game_player.id), class: "form" do |f| %>
  <div class="form-row">
    <div class="col-4">
      <%= f.text_field :character_name, class: 'form-control', placeholder: 'Character Name' %>
    </div>
    <div class="col-4">
      <%= f.number_field :init_bonus, class: 'form-control', placeholder: 'Initiative Bonus' %>
    </div>
  </div>
  <br />
  <%= f.submit "Submit", class: 'btn btn-primary'%>
<% end %>
