<% if is_game_master?(@room) %>
document.getElementById('<%= "player_form_#{@game_player.id}" %>').innerHTML = "<%= j render 'update_form_npc', home_game_player: @game_player %>";
<% else %>
document.getElementById('<%= "player_form_#{@game_player.id}" %>').innerHTML = "<%= j render 'update_form', home_game_player: @game_player %>";
<% end %>