<% if is_game_master?(@room) %>
document.getElementById('player_form').innerHTML = "<%= j render 'form_npc', home_game_player: @game_player %>";
<% else %>
document.getElementById('player_form').innerHTML = "<%= j render 'form', home_game_player: @game_player %>";
<% end %>